
.bookingbar {
    width: 75%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row; 
    font-family: 'Virgil';
    justify-content: center
}

.bookingCard {
    width: 25%;
    height: 95%;
    border-radius: 1rem;
    margin-right: 3%;
    /* box-shadow: 5px 5px 5px lightgrey; */
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all 0.2s ease-out;
}
.bookingCard h4{
    margin-top: 0
}
.bookingCard p {
    margin: 0 0 3% 0;
}
.bookingCard p {
    margin: 0;
    font-size: 1vw;
}

.bookingCard:hover {
    transform: scale(1.05)
}

.carasoul-inner{
    width: 0% !important;
    margin-left: 35% !important
}


.container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: #0F8FA1;
    padding: 0;
    border-radius: 1rem;
    height: 100%;
    width: 95%;
}

.slider {
    --items-per-screen: 4;
    --slider-index: 0;
    display: flex;
    width: 90%;
    flex-grow: 1;
    margin: 0 var(--img-gap);
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
}

.slider>img {
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    aspect-ratio: 16 / 9;
    padding: var(--img-gap);
    border-radius: 1rem;
}

.handle {
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, .25);
    z-index: 10;
    margin: var(--img-gap) 0;
    width: var(--handle-size);
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
    background-color: rgba(255, 255, 255, .5);
}
.handle:hover .text,
.handle:focus .text {
    transform: scale(1.2);
}

@media (max-width: 1000px) {
    .slider {
        --items-per-screen: 3;
    }
}

@media (max-width: 500px) {
    .slider {
        --items-per-screen: 2;
    }
}