
.bookingbar {
    height: 20%;
    width: 71%;
    margin-top: 3%;
    padding: 4rem; 
    /* when cards are functional this will need to be adjusted */
    background: white;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    flex-direction: row; 
}

.bookingCard {
    flex: 1;
    margin: 0.5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
}

.bookingCard:hover {
    transform: scale(1.05)
}