.bookingbar {
    height: 30%;
    margin: 6rem 2em 1em 2em;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px grey;
    display: flex;
    flex-direction: row;
}

.bookingCard {
    flex: 1;
    margin: 0.5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
}

.bookingCard:hover {
    transform: scale(1.05)
}