.eventList {
    height: 100%;
    width: 30%;
    margin: 2rem;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px grey;
}

.table {
    border-radius: 1rem;
    /* border: solid lightgrey 1px; */
    margin-top: 1rem;
    box-shadow: 5px 5px 5px lightgrey;
}

.eventList table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    border-radius: 10px;
}
.eventList table th, td {
    padding: 0.4rem;
}
.eventList table tbody tr:hover {
    background: lightgrey;
}

.modalBack {
    background: white;
    opacity: 100%
}