.eventList {
    height: 100%;
    width: 30%;
    margin: 2rem;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: 'Virgil';
    border-color: #16842A;
}

.table {
    border-radius: 1rem;
    margin-top: 1rem;
    box-shadow: 5px 5px 5px lightgrey;
    height: 90%;
}

.eventList table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    border-radius: 10px;
    height: 90%;
}
.eventList table tbody {
    border-style: none;
      display: block;
  height: 100%;
  overflow-y: scroll;
}
table thead,
table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.eventList table th, td {
    padding: 0.4rem;
}
.eventList table tbody tr:hover {
    background: #CD5F04;
    opacity: 80%;
    color: white
}

/* =========================== BELOW FOR MODAL POPUP ======================= */
/* ======================= BELOW FOR MODAL POPUP =========================== */
/* ================== BELOW FOR MODAL POPUP ================================ */

.modalBack {
    background: white;
    opacity: 100%
}

.container {
    perspective: 51000px;
    -webkit-perspective: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Virgil';

}

.row-container {
    margin-top: 15px;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
    /* Selecting seats that do not have "occupied" class */
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.row {
    display: flex
}



.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    height: 30px;
    width: 32px;
    background: rgb(0, 4, 255);
    border: 1px solid #1361d6;
    transition: all .1s ease;
}

.seat.selected {
    background-color: #fffb23;
}

.seat.occupied {
    background-color: rgb(171, 171, 171);
}
.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 5px;
    border-radius: 25px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    font-family: 'Virgil';

}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0  5px;
}

.showcase li small {
    margin-left: 7px;
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

p.text {
    margin: 5px 0;
    font-size: 16px;
    font-family: 'Virgil';
}

p.text span {
    color: #6feaf5;
}

.text {
    font-size: 18px;
}

.text-wrapper {
    margin-top: 10px;
}